nav {
  clear: both;
  height: 40p;
  text-align: center;
  padding-top: 3em;
  word-spacing: 15em;
  padding-bottom: 3em;
  
}

li {
  display: inline;
}

header {
  text-align: center;
  background-color: #96858f;
  padding-bottom: 3em;
  
}

h1 {
  font-size: 3rem;
}


a {
  color: white;
}

body {
  background-color: #808080;
  color: white;
  
}

aside {
  padding: .8em;
}

.sortedscarves {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}



/*Color scheme 
links: #white 
background: 
#96858F* #6D7993 #9099A2 #808080 /








/*  SECTIONS below for responsive grid system */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

/*RESPONSIVE GRID ABOVE THIS LINE*/

.item-container {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}